<ng-container *ngIf="exists">
  <div>
    <form [formGroup]="despesaForm">

      <h4>Minhas categorias:</h4>
      <select name="categoria" formControlName="categoria">
        <option *ngFor="let categoria of categoriasDoUsuario" value="{{categoria.categoria}}"> {{categoria.categoria}}</option>
      </select>

      <h4>Categorias globais:</h4>
        <select  name="categoria" formControlName="categoria">
          <option *ngFor="let categoria of categoriasGlobais" value="{{categoria.categoria}}"> {{categoria.categoria}}</option>
        </select>

      <h4>Valor</h4>
        <input name="valor" formControlName="valor" type="number" placeholder="R$"><br>

      <h4>Data</h4>
      <input name="data"formControlName="data"  type="date"><br>
  </form>
  </div>
  <button (click)="atualizar()" type="button"> Atualizar</button>
  <button (click)="voltar()" type="button"> Voltar</button>

</ng-container>





