<app-navbar></app-navbar>
<div class="table col-md-6 offset-md-3" style= "margin-top: 5%;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col" class="pl-5">Options</th>
      </tr>
    </thead>
    <tbody *ngIf="user?.receitas?.length>0">
          <tr *ngFor="let receita of user?.receitas">
              <td>{{receita?.categoria}}</td>
              <td>{{receita?.valor | currency}}</td>
              <td>{{receita?.modifiedAt | date}}</td>
              <button class="btn btn-info btn-sm mr-4 mt-2" type="button" routerLink="/atualizar-receita/{{receita.id}}">Atualizar</button>
              <button class="btn btn-danger btn-sm mt-2" type="button" (click)="excluir(receita.id)">Excluir</button>
          </tr>
      </tbody>
  </table>
   <div><p><strong>Valor total: {{user?.totalReceitas | currency}}</strong></p>
    </div>
  <button class="btn btn-info btn-sm mr-4" type="button" routerLink="/cadastro-receita/{{idUser}}" >Adicionar receita</button>
</div>
<h4  class="table col-md-6 offset-md-3" style= "margin-top: 5%;">Cadastrar nova categoria:
  <input [(ngModel)]="novaCategoria" name="categoria" type="text">
  <button name="categoria"  (click)="cadastrarCategoria(this.novaCategoria)">Criar!</button>
</h4>
