<app-navbar></app-navbar>
<div class="container-fluid  " style="height: 100vh;">
  <div class="row d-flex justify-content-center align-self-center  " style="align-items: center;">
    <div class="col-sm-3" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Receitas</h5>
          <p class="card-text">{{user?.totalReceitas | currency}}</p>
          <a routerLink="/detalhe-receita/{{idUser}}">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MEU SALDO TOTAL</h5>
          <p class="card-text">{{ user ? (user?.total | currency) : 0 | currency}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Despesas</h5>
          <p class="card-text">{{user?.totalDespesas| currency}}</p>
          <a  routerLink="/detalhe-despesa/{{idUser}}">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>

