<div class="container-fluid " style= "height: 100vh; display: flex; align-items: center;">
  <form [formGroup]="userForm" class="col-md-5 offset-md-3">
    <h4>Sign in: </h4>
    <div class="form-group">
      <label for="user">Email:</label>
      <input class="form-control" name="user" formControlName="user" type="text" placeholder="@email" ><br>
    </div>

    <div class="form-group">
      <label for="pass">Senha:</label>
      <input class="form-control" name="pass" formControlName="pass"  type="password">
    </div>

    <div class="form-group">
      <label for="confirmPass">Confirme a senha: </label>
      <input class="form-control" name="confirmPass" formControlName="confirmPass"  type="password"><br>
    </div>
    <button class="btn btn-info mr-2" [disabled]="userForm.invalid" (click)="cadastrar()" type="button">Cadastrar</button>
  </form>
