<app-navbar></app-navbar>
<div class="table col-md-6 offset-md-3" style= "margin-top: 5%;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col" class="pl-5">Options</th>
      </tr>
    </thead>
      <tbody *ngIf="user?.despesas?.length>0">
          <tr *ngFor="let despesa of user?.despesas">
              <td >{{despesa?.categoria}}</td>
              <td >{{despesa?.valor | currency}}</td>
              <td>{{despesa?.modifiedAt | date}}</td>
              <button class="btn btn-info btn-sm mr-4 mt-2" type="button" routerLink="/atualizar-despesa/{{despesa.id}}">Atualizar</button>
              <button class="btn btn-danger btn-sm mt-2" type="button" (click)="excluir(despesa.id)">Excluir</button>
          </tr>
          <div>
            <p><strong>Valor total: {{user?.totalDespesas| currency}}</strong></p>
          </div>
      </tbody>
  </table>
  <button class="btn btn-info btn-sm mr-4 mt-2" type="button" routerLink="/cadastro-despesa/{{idUser}}" >Adicionar</button>
</div>

<h4   class="table col-md-6 offset-md-3" style= "margin-top: 5%;">Cadastrar nova categoria:
  <input [(ngModel)]="novaCategoria"name="categoria" type="text">
  <button name="categoria"  (click)="cadastrarCategoria(this.novaCategoria)">Criar!</button>
</h4>
